################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpScheduler/bin/Debug/net8.0
/CSharpScheduler/obj
/CSharpScheduler/.vs
